<%- include("./partials/header") %>

<div class="row">
    <div class="col-6 offset-3">
        <div class="alert alert-danger" role="alert">

            <h4 class="alert-heading text-center my-5">Error: <%= err.message %></h4>
            <h4 class="alert-heading text-center my-5">Status: <%= err.status %></h4>
    
      
           
            <div class="row text-center">
                <div class="col">
                    <div class="container">
                        <iframe src="https://giphy.com/embed/9o9dh1JRGThC1qxGTJ" width="480" height="357" frameBorder="0" class="giphy-embed" allowFullScreen></iframe>    
                    </div>
                </div>
            </div>
         </div>
    </div>
</div>

<%- include("./partials/footer") %>