<%- include("./partials/header") %>

<h1 class="text-center">Welcome to Yelp Camp</h1>

<div class="container text-center mt-4">
    <a class="btn btn-success" href="/campgrounds">See Campgrounds</a>
</div>


<%- include("./partials/footer") %>